body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}
#app {
    display: flex;
    width: 95vw;
    overflow: hidden;
    position: relative;
}
.line {
    display: inline-block;
    width: 100%;
}
.common-cm {
    color: #e02121;
}
.paper {
    margin: 5px;
    display: flex;
    flex-grow: 1;
    left: 0;
    transition: left 300ms ease-in-out;
    position: relative;
}
.prepend-paper {
    left: -100vw;
}
.append-paper {
    left: 100vw;
}
.paper-headline {
    margin: 10px;
}
.paper-content {
    flex-grow: 15;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    background-color: #cbe3f5;
}
.slide-btn {
    flex-grow: 1;
    display: inline-block;
    cursor: pointer;
    text-align:center;
    font-weight: bolder;
    font-size: 100px;
    user-select: none;
}
.slide-btn::before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.slide-btn:hover {
    background-color: #d8fdbc;
    color: red;
}
.slide-none {
    flex: 1;
    display: inline-block;
    text-align:center;
    font-weight: bolder;
    font-size: 100px;
}